header {
  height: 80px;
  background-color: #111115;
  position: absolute;
  width: 100%;
  z-index: 5;


  @media screen and (max-width: 640px) {
    height: 34px;
    position: fixed;
    z-index: 50;
  }

  .header__wrapper {
    display: flex;
    width: 1190px;
    padding: 0 15px;
    margin: 0px auto;
    align-items: center;
    transition: 0.1s ease-in;


    @media screen and (max-width: 1599px) {
      width: calc(970px + (1190 - 970) * ((100vw - 1599px) / (1599 - 1000)));
    }

    @media screen and (max-width: 1000px) {
      width: calc(600px + (925 - 600) * ((100vw - 640px) / (1000 - 640)));
      margin: 0px 15px;
    }

    @media screen and (max-width: 640px) {
      width: calc(300px + (600 - 300) * ((100vw - 320px) / (640 - 320)));
      margin: 0 auto;
      padding: 0 0px;
      height: 34px;
      justify-content: space-between;
    }

    @media screen and (max-width: 320px) {
      width: 300px;
      height: 34px;
      padding: 0 0px;
    }


    .logo {
      position: relative;
      width: 82px;
      height: 52px;
      color: #fff;
      text-align: center;
      padding: 4px 4px;
      border: 1px solid #fff;
      border-radius: 5%;
      font-size: 19.1px;
      cursor: pointer;
      line-height: 120%;
      font-style: normal;
      font-weight: 300;
      transition: .3s;
      z-index: 20;

      @media screen and (max-width: 640px) {
        width: 47px;
        height: 39px;
        border: none;
        font-size: 12.2899px;
        line-height: 135%;
        padding: 4px 0px;
        display: flex;
        text-align: center;
      }


      &:hover {
        color: #78d614;
      }

      &::after {
        content: '';
        position: absolute;
        background: url(../../assets/icons/bamboo.svg) center / cover no-repeat;
        width: 10px;
        height: 20px;
        left: 11px;
        top: 24px;
        transition: .3s;

        @media screen and (max-width: 640px) {
          width: 5px;
          height: 13px;
          left: 6px;
          top: 19px;

        }
      }

      &:hover::after {
        content: '';
        position: absolute;
        background: url(../../assets/icons/bamboo_green.svg) center / cover no-repeat;
        width: 10px;
        height: 20px;
        left: 11px;
        top: 24px;

        @media screen and (max-width: 640px) {
          width: 5px;
          height: 13px;
          left: 6px;
          top: 19px;
        }
      }
    }
    .logo__active {
      border: 1px solid $color-orange;
      color: $color-orange;
      transition: margin 0s;
      transition: transform 0.3s;
      margin-left: 15px;
      margin-top: 13px;
      &::after {

        background: url(../../assets/icons/bamboo_orange.svg) center / cover no-repeat;
      }

      &:hover {
        color: $color-orange;
        transform: scale(1.2);
      }

      &:hover::after {
        content: '';
        position: absolute;
        background: url(../../assets/icons/bamboo_orange.svg) center / cover no-repeat;

      }
    }
    .navigation {
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      color: #fff;
      z-index: 20;

      @media screen and (max-width: 1000px) {
        margin: 0;
      }

      @media screen and (max-width: 640px) {
        display: none;
      }
    }

    .active__navigation {
      display: flex;
      flex-direction: column;

    }

    .menu {
      display: flex;
      padding: 29px 0;
      width: 1056px;
      margin-left: 35px;
      font-weight: 400;
      font-size: 16px;
      transition: 0.3s;

      @media screen and (max-width: 1599px) {
        width: calc(700px + (1056 - 700) * ((100vw - 1000px) / (1599 - 1000)));
        margin-left: 0;
      }

      @media screen and (max-width: 1000px) {
        width: calc(500px + (818 - 500) * ((100vw - 640px) / (1000 - 640)));
        margin-left: calc(0px + (39 - 0) * ((100vw - 640px) / (1000 - 640)));
        margin-right: 0;
      }

      @media screen and (max-width: 640px) {
        width: 520px;
      }

      .menu__item {
        padding: 0 15px;
        margin: 0 14px;
        cursor: pointer;
        color: #fff;
        z-index: 2;
        transition: .3s;

        @media screen and (max-width: 1000px) {
          padding: 0 24px;
          padding: 0 calc(10px + (24 - 10) * ((100vw - 640px) / (1000 - 640)));
          margin: 0 0;
        }

        &:active {
          color: $color-hover;
        }

        &:hover {
          transform: scale(1.3)
        }
      }

      .design {
        order: 3;
        margin-left: auto;
        padding-right: 0;

        @media screen and (max-width: 740px) {
          margin-left: 40px
        }
      }
      .menu__item__active {
        margin-left: 0;
        margin-bottom: 15px;
        color:#333B41;
        

        &:hover {
          padding-left: 50px;
          transform: scale(1.05)
        }
      }
    }

    .menu__active {
      width: 100%;
      flex-direction: column;
      transition: 1.3s;
      margin-left: 10px;
    }

    .burger__menu {
      display: none;

      @media screen and (max-width: 640px) {
        display: block;
        position: relative;
        width: 18px;
        height: 10px;
        cursor: pointer;
        z-index: 100;
        transition: transform .3s;

        &:hover {
          transform: scale(1.3)
        }
      }
      

      .burger__line {
        width: 18px;
        height: 2px;
        border-radius: 2px;
        background: #FFFFFF;
        margin: 2px 0;
        transition: 0.15s;

        &:first-child {
          margin-top: 0;
        }
      }

      .burger__line__active {
        background: $color-black-blue;
        transition: 0.3s;
      }
    }

    .burger__menu__active {
      position: absolute;
      top: 18px;
      right: 20px;
    }
  }

  .wrapper__active {
    flex-direction: column;
    align-items: flex-start;
    height: 375px;
    background: #fff;
    width: 100%;
    justify-content: flex-start;
    transition: .3s;

  }
}

