.donation__information {
  width: 100%;
  height: 1482px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-orange-gradient-mix;
  @media screen and (max-width: 1000px) {
    height: 1333px;
  }
  @media screen and (max-width: 639px) {
    height: calc(1147px + (1333 - 1147) * ((100vw - 320px) / (639 - 320)));
  }

  .donation__wrapper {
    width: 1160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    @media screen and (max-width: 1599px) {
      width: calc(940px + (1160 - 940) * ((100vw - 1000px) / (1599 - 1000)));
    }

    @media screen and (max-width: 1000px) {
      width: 940px;
    }

    @media screen and (max-width: 999px) {
      width: calc(600px + (940 - 600) * ((100vw - 640px) / (999 - 640)));
    }

    @media screen and (max-width: 639px) {
      width: calc(320px + (599 - 320) * ((100vw - 320px) / (639 - 320)));
    }
    h3 {
      margin-top: 40px;
      @media screen and (max-width: 1000px) {
        margin-top: 41px;
        width: 750px;
      }

      @media screen and (max-width: 999px) {
      font-size: 24px;
      width: calc(600px + (750 - 600) * ((100vw - 640px) / (999 - 640)));
      margin-top: calc(32px + (41 - 32) * ((100vw - 640px) / (999 - 640)));
      line-height: 120%;
      }

      @media screen and (max-width: 639px) {
        width: calc(320px + (600 - 320) * ((100vw - 320px) / (639 - 320)));
        align-items: center;
        margin-top: 32px;
        padding-left: 10px;
      }
    }

    .reopen__text {
      margin-top: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #FFFFFF;
      @media screen and (max-width: 1000px) {
        margin-top: 30px;
      }

      @media screen and (max-width: 999px) {
        margin-top: 19px;
        line-height: 138%;
      }

      @media screen and (max-width: 639px) {
        padding: 0 10px;
      }
      span {
        font-weight: 400;
      }
    }

    .margin {
      margin: 47px 0 57px;
      @media screen and (max-width: 1000px) {
        margin-bottom: 39px;
      }

      @media screen and (max-width: 999px) {
        margin: 30px 0;
        font-size: 36px;
        line-height: 130%;
      }

      @media screen and (max-width: 639px) {
        font-size: 24px;
        margin: 29px 0;
      }

    }

    .donate__feed__wrapper {
      width: 1160px;
      height: 964px;
      background: rgba(255, 255, 255, 0.52);
      backdrop-filter: blur(2px);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (max-width: 1599px) {
        width: calc(940px + (1160 - 940) * ((100vw - 1000px) / (1599 - 1000)));
      }

      @media screen and (max-width: 1000px) {
        width: 940px;
        height: 918px;
      }

      @media screen and (max-width: 999px) {
        width: calc(600px + (940 - 600) * ((100vw - 640px) / (999 - 640)));
        height: 918px;
      }

      @media screen and (max-width: 639px) {
        width: calc(300px + (930 - 300) * ((100vw - 320px) / (639 - 320)));
        align-self: center;
        height: calc(591px + (918 - 591) * ((100vw - 320px) / (639 - 320)));;
      }


      h2 {
        margin-top: 40px;
        margin-right: 12px;
        @media screen and (max-width: 1000px) {
         margin-top: 19px;
         margin-right: 14px;
        }

        @media screen and (max-width: 999px) {
          margin-top: 30px;
          margin-right: 0px;
         }

         @media screen and (max-width: 639px) {
          font-size: 24px;
          margin-top: 20px;
         }
      }

      .subtitle {
        align-self: flex-start;
        margin-left: 92px;
        margin-top: 21px;
        @media screen and (max-width: 1000px) {
          margin-left: 47px;
          margin-top: 11px;
         }

         @media screen and (max-width: 999px) {
            margin-top: 22px;
            text-align: center;
            margin-left: 0px;
            line-height: 120%;
         }
         @media screen and (max-width: 639px) {
          width: calc(300px + (500 - 300) * ((100vw - 320px) / (639 - 320)));;
          font-size: 16px;
          margin: 10px auto 0;
          line-height: 135%;
         }
      }

      .diet__calc__wrapper {
        width: 540px;
        height: 260px;
        margin-top: 60px;
        margin-right: 20px;
        display: flex;
        margin-bottom: 34px;

        @media screen and (max-width: 1000px) {
          margin-top: 60px;
          margin-right: 18px;
         }

         @media screen and (max-width: 999px) {
          margin-bottom: 26px;
         }

         @media screen and (max-width: 999px) {
          margin-top: 50px;
         }
         @media screen and (max-width: 639px) {
          width: calc(300px + (539 - 300) * ((100vw - 320px) / (639 - 320)));
          margin: 0;
          height: calc(154px + (260 - 150) * ((100vw - 320px) / (639 - 320)));
        }


        .diet__days {
          width: 256px;
          height: 246px;
          margin-top: 105px;

          @media screen and (max-width: 639px) {
            width: calc(140px + (256 - 160) * ((100vw - 320px) / (639 - 320)));
            height: calc(150px + (246 - 139) * ((100vw - 320px) / (639 - 320)));
            margin-top: 70px;
           }

          .days__numbers {
            width: 150px;
            font-style: normal;
            font-weight: 500;
            font-size: 72px;
            line-height: 80%;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
            margin-left: 12px;
            @media screen and (max-width: 1000px) {
              margin-left: 10px;
             }
             @media screen and (max-width: 639px) {
              font-size: 40.6015px;
              width: 140px;
              margin-left: 33px;
              text-align: left;
             }

          }

          .days__text {
            position: relative;
            margin-top: 12px;
            margin-left: 6px;

            @media screen and (max-width: 639px) {
              font-size: 9px;
              margin-top: 3px;
              margin-left: 0px;
             }
            &::after {
              content: '';
              position: absolute;
              width: 14px;
              height: 14px;
              top: -45px;
              right: 65px;
              background: url(../../assets/icons/x_icon.svg) no-repeat;
              @media screen and (max-width: 639px) {
                top: -24px;
                right: 33px;
                transform: scale(0.56);
               }
            }
          }
        }

        .diet__pic {
          width: 284px;
          height: 246px;
          background: url(../../assets/icons/panda_diet.svg) no-repeat;
          @media screen and (max-width: 1000px) {
            margin-left: -3px;
           }
           @media screen and (max-width: 639px) {
            width: calc(160px + (284 - 160) * ((100vw - 320px) / (639 - 320)));
            height: calc(139px + (246 - 139) * ((100vw - 320px) / (639 - 320)));
            background-size: cover;
            margin-top: 10px;
            margin-left: 0px;
           }
        }
      }


      .amount__wrapper {
        max-width: 976px;
        height: 120px;
        display: flex;
        flex-direction: column;
        margin-bottom: 44px;
        @media screen and (max-width: 1000px) {
          max-width: 820px;
          margin-bottom: 44px;
        }

        @media screen and (max-width: 999px) {
          width: calc(600px + (820 - 600) * ((100vw - 640px) / (999 - 640)));
          margin-bottom: calc(34px + (44 - 34) * ((100vw - 640px) / (999 - 640)));
         }

         @media screen and (max-width: 639px) {
          width: calc(300px + (599 - 300) * ((100vw - 320px) / (639 - 320)));
          height: calc(67px + (120 - 67) * ((100vw - 320px) / (639 - 320)));
         }



        p {
          font-weight: 400;
          margin: 0 0 17px 3px;
          @media screen and (max-width: 1000px) {
            margin-left: 5px;
          }

          @media screen and (max-width: 999px) {
            margin-bottom: 5px;
            margin-left: 10px;
           }
           @media screen and (max-width: 639px) {
            margin-bottom: 7px;
            margin-left: 0px;
           }
        }

        .scrollbar__wrapper {
          width: 976px;
          height: 27px;
          position: relative;
          background: #404950;
          @media screen and (max-width: 1599px) {
            width: calc(810px + (976 - 810) * ((100vw - 1000px) / (1599 - 1000)));
          }
          @media screen and (max-width: 1000px) {
            width: 810px;
            margin-left: 5px;
            border-radius:2px;
          }

          @media screen and (max-width: 999px) {
            margin-left: 0px;
            width: calc(600px + (810 - 600) * ((100vw - 640px) / (999 - 640)));
          }

          @media screen and (max-width: 639px) {
            width: calc(300px + (599 - 300) * ((100vw - 320px) / (639 - 320)));
            height: calc(15px + (27 - 20) * ((100vw - 320px) / (639 - 320)));
           }

          &::after {
            content: '';
            position: absolute;
            width: 915px;
            height: 2px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #72828E;
            @media screen and (max-width: 1599px) {
              width: calc(775px + (915 - 775) * ((100vw - 1000px) / (1599 - 1000)));
            }

            @media screen and (max-width: 1000px) {
              width: calc(520px + (775 - 520) * ((100vw - 640px) / (999 - 640)));
            }

            @media screen and (max-width: 639px) {
              width: calc(260px + (770 - 520) * ((100vw - 320px) / (639 - 320)));
            }
          }

          .scrollbar__markers__wrapper {
            width: 951px;
            display: flex;
            margin: 0 30px 0 10px;
            justify-content: space-between;
            @media screen and (max-width: 1599px) {
              width: calc(815px + (951 - 815) * ((100vw - 1000px) / (1599 - 1000)));
            }
            @media screen and (max-width: 1000px) {
              margin: 0 0 0 -2px;
              width: 815px;
            }
            @media screen and (max-width: 999px) {
              margin-left: 20px;
              width: calc(560px + (815 - 560) * ((100vw - 640px) / (999 - 640)));
            }
            @media screen and (max-width: 639px) {
              width: calc(300px + (559 - 300) * ((100vw - 320px) / (639 - 320)));
              margin-left: 0px;
             }
            .mark__wrapper {
              position: relative;
              width: 40px;
              height: 40px;
              margin-top: -10px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              z-index: 100;
              @media screen and (max-width: 1000px) {
                &:nth-child(1) {
                  display: none;
                }
              }
              @media screen and (max-width: 724px) {
                &:nth-child(2) {
                  display: none;
                }
                &:nth-child(3) {
                  display: none;
                }
              }

              &:hover::before {
                content: '';
                position: absolute;
                top: 12px;
                left: 9px;
                width: 22px;
                height: 22px;
                border: 2px solid $color-orange;
                border-radius: 100%;
                cursor: pointer;
                opacity: 0.5;

                @media screen and (max-width: 639px) {
                  width: 11px;
                  height: 11px;
                  top: 12px;
                  left: 15px;
                  border: 1px solid $color-orange;
                 }
              }

              &:hover::after {
                content: '';
                position: absolute;
                top: 3px;
                left: 0px;
                width: 40px;
                height: 40px;
                border: 2px solid $color-orange;
                border-radius: 100%;
                cursor: pointer;
                opacity: 0.5;

                @media screen and (max-width: 639px) {
                  width: 21px;
                  height: 21px;
                  top: 7px;
                  left: 10px;
                  border: 1px solid $color-orange;

               }
              }

              .scrollbar__mark {
                position: relative;
                width: 10px;
                height: 10px;
                margin-top: 7px;
                border-radius: 100%;
                background-color: #FFEE2E;
                cursor: pointer;

                @media screen and (max-width: 639px) {
                  width: calc(5px + (10 - 6) * ((100vw - 320px) / (639 - 320)));
                  height: calc(5px + (10 - 6) * ((100vw - 320px) / (639 - 320)));
                  margin-top: -5px;
                 }
              }

              .scrollbar__select {
                position: relative;

                &::before {
                  content: '';
                  position: absolute;
                  top: -6px;
                  left: -6px;
                  width: 22px;
                  height: 22px;
                  border: 2px solid $color-orange;
                  border-radius: 100%;
                  cursor: pointer;

                  @media screen and (max-width: 639px) {
                    width: 11px;
                    height: 11px;
                    top: -3px;
                    left: -3px;
                    border: 1px solid $color-orange;
                   }
                }

                &::after {
                  content: '';
                  position: absolute;
                  top: -15px;
                  left: -15px;
                  width: 40px;
                  height: 40px;
                  border: 2px solid $color-orange;
                  border-radius: 100%;
                  cursor: pointer;

                  @media screen and (max-width: 639px) {
                      width: 21px;
                      height: 21px;
                      top: -8px;
                      left: -8px;
                    border: 1px solid $color-orange;
                   }
                }
              }
            }
          }
        }

        .money__wrapper {
          display: flex;
          justify-content: space-between;
          font-style: normal;
          font-weight: 500;
          font-size: 26px;
          line-height: 140%;
          margin-top: 12px;
          margin-left: 12px;

          @media screen and (max-width: 1599px) {
            width: calc(835px + (964 - 835) * ((100vw - 1000px) / (1599 - 1000)));
          }

          @media screen and (max-width: 1000px) {
              width: 835px;
              margin-left: 18px;
            }

            @media screen and (max-width: 999px) {
              margin-left: 30px;
              margin-top: 13px;
              width: calc(574px + (835 - 560) * ((100vw - 640px) / (999 - 640)));
            }

            @media screen and (max-width: 639px) {
              width: calc(315px + (573 - 315) * ((100vw - 320px) / (639 - 320)));
              margin-top: 5px;
              margin-left: 15px;
              font-size: 13px;
             }
          .money {
            position: relative;
            width: 55px;
            @media screen and (max-width: 1000px) {
              &:nth-child(1) {
                display: none;
              }
            }
            @media screen and (max-width: 724px) {
              &:nth-child(2) {
                display: none;
              }
              &:nth-child(3) {
                display: none;
              }
            }



            &::before {
              content: '';
              position: absolute;
              top: 9px;
              left: -12px;
              width: 10px;
              height: 20px;
              background: url(../../assets/icons/money.svg) center / cover no-repeat;

              @media screen and (max-width: 639px) {
                top: 0px;
                left: -9px;
                transform: scale(0.5);
               }
            }
          }

          .orange__symbol {
            color: $color-orange;

            &::before {
              content: '';
              position: absolute;
              top: 9px;
              left: -12px;
              width: 10px;
              height: 20px;
              background: url(../../assets/icons/money_orange.svg) center / cover no-repeat;

              @media screen and (max-width: 639px) {
                top: 0px;
                left: -9px;
                transform: scale(0.5);
               }
            }
          }
        }
      }

      .form__amount {

        .another__amount__wrapper {
          position: relative;
          margin-bottom: 25px;
          margin-left: 17px;
          width: 268px;
          @media screen and (max-width: 1000px) {
            margin-bottom: 21px;
          }

          @media screen and (max-width: 999px) {
            width: calc(180px + (268 - 180) * ((100vw - 640px) / (999 - 640)));
            margin-left: calc(61px + (21 - 61) * ((100vw - 640px) / (999 - 640)));
            margin-bottom: 26px;
          }

          @media screen and (max-width: 639px) {
            width: 180px;
            margin: 0 auto 20px;
          }

          .input_symbol {
            content: '';
            position: absolute;
            top: 17px;
            right: 10px;
            width: 10px;
            height: 20px;
            background: url(../../assets/icons/money_gray.svg) center / cover no-repeat;

            @media screen and (max-width: 999px) {
              top: 10px;
            }
          }

          .another__amount {
            width: 268px;
            height: 54px;
            padding-left: 8px;
            position: relative;
            background: rgba(255, 255, 255, 0);
            border: solid 1px #929699;
            border-radius: 1px;

            @media screen and (max-width: 999px) {
              width: calc(180px + (268 - 180) * ((100vw - 640px) / (999 - 640)));
              height: calc(42px + (54 - 42) * ((100vw - 640px) / (999 - 640)));
              padding-left: 4px;
            }

            @media screen and (max-width: 639px) {
              width: 180px;
              height: 42px;
              padding-left: 5px;
              padding-top: 2px;
            }
            &::placeholder {
              color: #929699;
            }

            &:focus {
              outline: none;
              border: solid 1px #4B9200;
            }

            &:focus::placeholder {
              color: #4B9200;
            }

            &:focus~.input_symbol {
              background: url(../../assets/icons/money_green.svg) center / cover no-repeat;
            }

            &:invalid {
              outline: none;
              border: solid 1px #D31414;
            }

            &:invalid::placeholder {
              color: #D31414;
            }


            &:invalid~.input_symbol {
              background: url(../../assets/icons/money_red.svg) center / cover no-repeat;
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            &[type=number] {
              -moz-appearance: textfield;
            }
          }
        }

        .donate__period__wrapper {
          display: flex;
          justify-content: center;
          margin-left: 9px;
          margin-bottom: 25px;
          @media screen and (max-width: 1000px) {
            margin-bottom: 24px;
          }
          @media screen and (max-width: 999px) {
            margin-bottom: 23px;
          }
          @media screen and (max-width: 639px) {
            margin-left: 5px;
            margin-bottom: 22px;
          }
          & label:last-child {
            margin-left: 27px;
          }

          .custom__radio {
            position: absolute;
            z-index: -1;
            opacity: 0;


            &+label {
              position: relative;
              display: inline-flex;
              align-items: center;
              user-select: none;
              cursor: pointer;
              transition: .3s;
              padding: 5px 25px;
              margin-top: -5px;

              @media screen and (max-width: 1000px) {
                margin-top: 0px;
              }
              &:hover {
                color: $color-orange;
              }
            }

            &+label::before {
              content: '';
              position: absolute;
              top: 8px;
              left: 0px;
              width: 16px;
              height: 16px;
              border: 1px solid $color-orange;
              border-radius: 100%;
              @media screen and (max-width: 1000px) {
                top: 7px;
                left: -1px;
              }
            }

            &:not(:disabled):not(:checked)+label:hover::before {
              border: 1px solid $color-orange;
            }

            &:not(:disabled):active+label::before {
              background-color: $color-active;
            }

            &:checked+label::before {
              background-color: $color-active;
              border: 1px solid $color-active;
            }
          }
        }

        .btn__feed {
          font-size: 16px;
          font-weight: 400;
          margin-left: 5px;
          padding-left: 11px;
          margin-bottom: 30px;
          line-height: 140%;

          @media screen and (max-width: 999px) {
            margin-left: 2px;
            padding-top: 3px;
          }
          @media screen and (max-width: 639px) {
            margin-left: 0px;
            padding-top: 2px;
          }
        }
      }

      .share {
        margin-left: 3px;
        align-self: center;
        @media screen and (max-width: 999px) {
          margin-left: 0px;
        }
        @media screen and (max-width: 639px) {
          margin-left: -1px;
        }
      }
    }
  }
}